/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, h2, table, th, tr, td, p {
    font-family: OpenSans-Regular;
}

#output table, #output th, #output tr, #output td, #output p {

    font-size: 8px;
}

#title {
    width: 21cm;
}

#output, .page {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 21cm;
}

.page {
    height: 29.7cm;
    align-content: flex-start;
}

table {
    border-collapse: collapse;
    white-space: pre-wrap;
    margin: 0.1cm;
    flex: 1;
    min-width: 9cm;
}

/** only for the head of the table. */
table thead th {
    padding: 10px;
    border: 1px solid black;
}

/** only for the body of the table. */
table tbody td {
    padding: 10px;
    border: 1px solid black;
}

.bold {
    font-weight: bold;
}

#produkter {
    display: grid;
    grid-template-columns: auto auto auto;
}

.produktInput {
    min-width: 10%;
    margin: 4px;
    /*box-shadow: inset 0 0 2px 0px grey;*/
    border-radius: 16px;
    background: #f3f3f3;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.produktInput * {
    cursor: pointer;
    padding: 10px 10px;
}

.produktInput label {
    flex: 1;
}

input.checkbox {
    margin-left: 15px;
}

input#ordrenummer {
    width: 90%;
    font-size: 2em;
    padding: 10px;
    border-radius: 36px;
    margin: 20px 5%;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

#buttonArea {
    display: flex;
}

button {
    text-align: center;
    margin: auto;
    width: 47%;
    margin: 1%;
    padding: 0.5%;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

body.enableColors button, body.enableColors table thead {
    background-color: black;
    color: white;
}

@media print {


    #settings {
        display: none;
    }
}